<div class="title uk-margin uk-text-center">Наша команда</div>


<div class="team">
	<div class="team__list uk-grid uk-grid-small uk-grid-width-large-1-4">
		<div class="team__item js-team">
			<div class="team__img">
				<img src="./img/team.jpg" alt="">
			</div>
			<div class="team__txt js-team-txt">
				
					<div class="team__content b-container-content">
						<div class="team__name">Максим Ефимов1</div>
						<div class="team__post">директор</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim quam placeat unde, repellat modi non veritatis distinctio eligendi consequatur dolorum, in sequi ab harum nam sunt, quia eius numquam?</p>
						<p>Numquam maxime sunt rem, laboriosam ex. Cupiditate dicta, necessitatibus repudiandae similique maiores illum eius nemo voluptas architecto modi vel laboriosam nam, quos soluta magni quo accusamus illo molestiae animi autem!</p>
					</div>
			</div>
		</div>
		<div class="team__item js-team">
			<div class="team__img">
				<img src="./img/team.jpg" alt="">
			</div>
			<div class=""></div>
			<div class="team__txt js-team-txt">
				
					<div class="team__content b-container-content">
						<div class="team__name">Максим Ефимов2</div>
						<div class="team__post">директор</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim quam placeat unde, repellat modi non veritatis distinctio eligendi consequatur dolorum, in sequi ab harum nam sunt, quia eius numquam?</p>
						<p>Numquam maxime sunt rem, laboriosam ex. Cupiditate dicta, necessitatibus repudiandae similique maiores illum eius nemo voluptas architecto modi vel laboriosam nam, quos soluta magni quo accusamus illo molestiae animi autem!</p>
					</div>
			</div>
		</div>
		<div class="team__item js-team">
			<div class="team__img">
				<img src="./img/team.jpg" alt="">
			</div>
			<div class="team__txt js-team-txt">
				
					<div class="team__content b-container-content">
						<div class="team__name">Максим Ефимов3</div>
						<div class="team__post">директор</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim quam placeat unde, repellat modi non veritatis distinctio eligendi consequatur dolorum, in sequi ab harum nam sunt, quia eius numquam?</p>
						<p>Numquam maxime sunt rem, laboriosam ex. Cupiditate dicta, necessitatibus repudiandae similique maiores illum eius nemo voluptas architecto modi vel laboriosam nam, quos soluta magni quo accusamus illo molestiae animi autem!</p>
					</div>
			</div>
		</div>
		<div class="team__item js-team">
			<div class="team__img">
				<img src="./img/team.jpg" alt="">
			</div>
			<div class="team__txt js-team-txt">
				
					<div class="team__content b-container-content">
						<div class="team__name">Максим Ефимов4</div>
						<div class="team__post">директор</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim quam placeat unde, repellat modi non veritatis distinctio eligendi consequatur dolorum, in sequi ab harum nam sunt, quia eius numquam?</p>
						<p>Numquam maxime sunt rem, laboriosam ex. Cupiditate dicta, necessitatibus repudiandae similique maiores illum eius nemo voluptas architecto modi vel laboriosam nam, quos soluta magni quo accusamus illo molestiae animi autem!</p>
					</div>
			</div>
		</div>
		<div class="team__item js-team">
			<div class="team__img">
				<img src="./img/team.jpg" alt="">
			</div>
			<div class="team__txt js-team-txt">
				
					<div class="team__content b-container-content">
						<div class="team__name">Максим Ефимов</div>
						<div class="team__post">директор</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim quam placeat unde, repellat modi non veritatis distinctio eligendi consequatur dolorum, in sequi ab harum nam sunt, quia eius numquam?</p>
						<p>Numquam maxime sunt rem, laboriosam ex. Cupiditate dicta, necessitatibus repudiandae similique maiores illum eius nemo voluptas architecto modi vel laboriosam nam, quos soluta magni quo accusamus illo molestiae animi autem!</p>
					</div>
			</div>
		</div>
		<div class="team__item js-team">
			<div class="team__img">
				<img src="./img/team.jpg" alt="">
			</div>
			<div class="team__txt js-team-txt">
				
					<div class="team__content b-container-content">
						<div class="team__name">Максим Ефимов</div>
						<div class="team__post">директор</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi enim quam placeat unde, repellat modi non veritatis distinctio eligendi consequatur dolorum, in sequi ab harum nam sunt, quia eius numquam?</p>
						<p>Numquam maxime sunt rem, laboriosam ex. Cupiditate dicta, necessitatibus repudiandae similique maiores illum eius nemo voluptas architecto modi vel laboriosam nam, quos soluta magni quo accusamus illo molestiae animi autem!</p>
					</div>
			</div>
		</div>
	</div>
</div>