<div class="cart-chart" id="js-cart-chart">
	<div class="b-container-content">
		<div class="cart-chart__top">
			<div id="cart-chart-trigger" class="uk-display-inline-block" data-uk-toggle="{target:'.js-cart-chart-toggle', animation:'uk-animation-slide-top, uk-animation-slide-bottom'}">
				<div class="cart-chart__ico">
					График навыков
				</div>
				<div class="uk-display-inline-block">
					<a href="javascript:void(0);" class="cart-chart__link ">Показать график <i class="uk-icon-caret-down"></i></a>
					<a href="javascript:void(0);" class="uk-hidden cart-chart__link uk-hidden">Скрыть график <i class="uk-icon-caret-up"></i></a>
				</div>
			</div>
		</div>
		<div class="cart-chart__cont js-cart-chart-toggle ">
			<div class="uk-grid">
				<div class="cart-chart__canvas uk-width-4-10">
					<canvas id="myChart" width="400" height="400"></canvas>

				</div>
				<div class="cart-chart__right uk-width-6-10">
					<div class="uk-margin">
						<div class="cart-chart__title">1 Пункт один</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla animi suscipit eos illum cupiditate id similique tempora ea inventore vero doloremque obcaecati, praesentium veniam quo minus, at dignissimos soluta, quod.</p>
					</div>
					<div class="uk-margin">
						<div class="cart-chart__title">1 Пункт один</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla animi suscipit eos illum cupiditate id similique tempora ea inventore vero doloremque obcaecati, praesentium veniam quo minus, at dignissimos soluta, quod.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>







