<div class="catalog-item-photo">
	<div class="catalog-item-photo__big">
		<img src="./img/foto-cover.png" alt="">
	</div>
	<div class="catalog-item-photo__list uk-grid uk-grid-collapse">
		<div class="catalog-item-photo__mini">
			<img src="./img/foto-cover.png" alt="">
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/foto-cover.png" alt="">
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/foto-cover.png" alt="">
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/foto-cover.png" alt="">
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/foto-cover.png" alt="">
		</div>
	</div>
</div>