<div class="catalog-list ">

	<div class="uk-grid uk-grid-width-medium-1-3">
		<div class="catalog-list__item">
			<div class="catalog-cart">
				<a href="#" class="catalog-cart__link"></a>
				<div class="catalog-cart__img">
			
				</div>
				<div class="catalog-cart__code">код: 002501</div>
				<div class="catalog-cart__name">Leg Press Air 250 или если название в две строки</div>
				<p class="catalog-cart__status catalog-cart__status_availability">В наличии</p>
				<div class="catalog-cart__descr">
					<div class="catalog-cart__size">(1219х940х1524) 107кг</div>
			
					<div class="catalog-cart__txt">Жим ногами. Благодаря своему мягкому ходу подходит как профессиональным спортсменам, так и людям проходящих реабилитацию после травмы. </div>
				</div>
				<div class="uk-flex uk-flex-middle uk-flex-space-between">
					<div class="catalog-cart__price">
						235 900 <i class="uk-icon-rouble"></i>
					</div>
					<div class="star">
			
					</div>
				</div>
				<a href="javascript:void(0);" class="uk-button uk-button-primary btn btn_dark uk-width-1-1">Добавить в корзину</a>
			</div>
		</div>
		<div class="catalog-list__item">
			<div class="catalog-cart">
				<a href="#" class="catalog-cart__link"></a>
				<div class="catalog-cart__img">
			
				</div>
				<div class="catalog-cart__code">код: 002501</div>
				<div class="catalog-cart__name">Leg Press Air 250 или если название в две строки</div>
				<p class="catalog-cart__status catalog-cart__status_availability">В наличии</p>
				<div class="catalog-cart__descr">
					<div class="catalog-cart__size">(1219х940х1524) 107кг</div>
			
					<div class="catalog-cart__txt">Жим ногами. Благодаря своему мягкому ходу подходит как профессиональным спортсменам, так и людям проходящих реабилитацию после травмы. </div>
				</div>
				<div class="uk-flex uk-flex-middle uk-flex-space-between">
					<div class="catalog-cart__price">
						235 900 <i class="uk-icon-rouble"></i>
					</div>
					<div class="star">
			
					</div>
				</div>
				<a href="javascript:void(0);" class="uk-button uk-button-primary btn btn_dark uk-width-1-1">Добавить в корзину</a>
			</div>
		</div>
		
		
	</div>
	<div class="uk-grid uk-grid-width-medium-1-3">
		<div class="uk-container-center">
				<button class="uk-button uk-button-primary btn btn_dark uk-width-1-1">
					Показать больше товаров
				</button>
		</div>
	</div>
</div>