<div class="catalog-filter-sector uk-form">
	<p>Выберите интересующие разделы:</p>
	<form action="">
		<ul class="catalog-filter-sector__list">
			<li class="catalog-filter-sector__item">
				<label for="catalog-filter-sector-1" class="check">
					<input type="checkbox" id="catalog-filter-sector-1"><span>Нейропсихофизиология</span></label>
			</li>
			<li class="catalog-filter-sector__item">
				<label for="catalog-filter-sector-2" class="check">
					<input type="checkbox" id="catalog-filter-sector-2"><span>Тренировочные лаборатории</span></label>
			</li>
			<li class="catalog-filter-sector__item">
				<label for="catalog-filter-sector-3" class="check">
					<input type="checkbox" id="catalog-filter-sector-3"><span>Спортивное тестирование</span></label>
			</li>
			<li class="catalog-filter-sector__item">
				<label for="catalog-filter-sector-4" class="check">
					<input type="checkbox" id="catalog-filter-sector-4"><span>Тренировочное оборудование</span></label>
			</li>
			<li class="catalog-filter-sector__item">
				<label for="catalog-filter-sector-5" class="check">
					<input type="checkbox" id="catalog-filter-sector-5"><span>Реабилитация</span></label>
			</li>
		</ul>
	</form>
</div>