<div class="catalog-filter-brand">
	<p>Выберите бренд:</p>
	<form action="">
		<ul class="catalog-filter-brand__list">
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-1" class="check">
					<input type="checkbox" id="catalog-filter-brand-1"><span>Kaiser</span></label>
			</li>
		
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-2" class="check">
					<input type="checkbox" id="catalog-filter-brand-2"><span>Hi-trainer</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-3" class="check">
					<input type="checkbox" id="catalog-filter-brand-3"><span>X-force</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-4" class="check">
					<input type="checkbox" id="catalog-filter-brand-4"><span>Treadwall</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-5" class="check">
					<input type="checkbox" id="catalog-filter-brand-5"><span>Sprint 1080</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-6" class="check">
					<input type="checkbox" id="catalog-filter-brand-6"><span>GymAware</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-7" class="check">
					<input type="checkbox" id="catalog-filter-brand-7"><span>Humotion</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-8" class="check">
					<input type="checkbox" id="catalog-filter-brand-8"><span>Cantab</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-9" class="check">
					<input type="checkbox" id="catalog-filter-brand-9"><span>Dinavision</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-10" class="check">
					<input type="checkbox" id="catalog-filter-brand-10"><span>CogniSens или в две
		строки</span></label>
			</li>
			<li class="catalog-filter-brand__item">
				<label for="catalog-filter-brand-11" class="check">
					<input type="checkbox" id="catalog-filter-brand-11"><span>Thought Technology</span></label>
			</li>
		</ul>
	</form>


</div>