<div class="catalog-item-photo" id="js-photo">
	<div class="catalog-item-photo__big">
		<a href="./img/bg-hm-1.jpg" data-uk-lightbox="{group:'catalog-item-photo'}" class="active"></a>
		<a href="./img/bg-hm-2.jpg" data-uk-lightbox="{group:'catalog-item-photo'}"></a>
		<a href="./img/bg-hm-3.jpg" data-uk-lightbox="{group:'catalog-item-photo'}"></a>
		<a href="./img/foto-cover.png" data-uk-lightbox="{group:'catalog-item-photo'}"></a>
		<a href="./foto-cover.png" data-uk-lightbox="{group:'catalog-item-photo'}"></a>
		<img src="./img/bg-hm-1.jpg" alt="">
	</div>
	<div class="catalog-item-photo__list uk-grid uk-grid-collapse">
	    <div class="catalog-item-photo__mini">
			<img src="./img/bg-hm-1.jpg" alt="" data-href="./img/bg-hm-1.jpg" >
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/bg-hm-2.jpg" alt="" data-href="./img/bg-hm-2.jpg">
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/bg-hm-3.jpg" alt="" data-href="./img/bg-hm-3.jpg">
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/foto-cover.png" alt="" data-href="./img/foto-cover.png">
		</div>
		<div class="catalog-item-photo__mini">
			<img src="./img/foto-cover.png" alt="" data-href="./img/foto-cover.png">
		</div>
		
	</div>
</div>