<div class="extended-filter">
	<div class="extended-filter__block">
		<p>Вид спорта:</p>
		<div class="extended-filter__first">
			<ul class="tag-list">
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Тяжелая атлетика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Фехтование</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Плавание</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Баскетбол</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Бадминдтон</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
			</ul>
		</div>
		<p class="extended-filter__more">
			<a href="#" class="">Выбрать из полного списка </a>
			<i class="uk-icon-caret-down"></i>
		</p>
	</div>
	<div class="extended-filter__block">
		<p>Кондиции:</p>
		<ul class="tag-list">
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Тяжелая атлетика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Фехтование</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Плавание</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Баскетбол</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Бадминдтон</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
				<li class="tag tag_extended js-tag">
					<span class="tag__name">Акробатика</span>
					<span class="tag__lenght">(2)</span>
					<i class="tag__ico uk-icon-plus"></i>
				</li>
			</ul>
	</div>
</div>