<div class="feedback">
	<div class="feedback__title title uk-text-center">
		Остались вопросы? <br> Оставьте контакты и мы вам перезвоним
	</div>
	<div class="feedback-form uk-form">
		<form action="">
			<div class="uk-margin-small">
				<input type="text" class="uk-width-1-1" placeholder="ФИО">
			</div>
			<div class="uk-margin-small">
				<input type="text" class="uk-width-1-1" placeholder="Контактный телефон">
			</div>
			<div class="uk-margin-small">
				<input type="text" class="uk-width-1-1" placeholder="E-mail">
			</div>
			<div class="uk-margin-small">
				<textarea name="" id="" cols="30" rows="10" placeholder="Ваше сообщение" class="uk-width-1-1">
					
				</textarea>
			</div>
			<div class="uk-margin uk-clearfix"></div>
			<div class="uk-margin">
				<button class="uk-button uk-width-1-1">Отправить сообщение</button>
			</div>
		</form>
	</div>
</div>