<div class="nav-hm-fullscreen">
	<div class="nav-hm-fullscreen__grid uk-grid uk-flex uk-flex-wrap uk-grid-width-large-1-5 uk-grid-width-medium-1-1">
		<div class="nav-hm-fullscreen__item uk-flex uk-flex-column uk-flex-space-between">
			<a href="#" class="nav-hm-fullscreen__link"></a>
			<div class="nav-hm-fullscreen__bg-wrap">
				<span class="nav-hm-fullscreen__bg" style="background-image:url('./img/bg-hm-1.jpg')"></span>
			</div>
			<div class="nav-hm-fullscreen__cont">
				<div class="nav-hm-fullscreen__ico">
					<img src="./img/i-hm-menu_1.png" alt="">
				</div>
				<div class="nav-hm-fullscreen__name"><span>Тренировочные лаборатории</span></div>
			</div>
		</div>
		<div class="nav-hm-fullscreen__item uk-flex uk-flex-column uk-flex-space-between">
			<a href="#" class="nav-hm-fullscreen__link"></a>
			<div class="nav-hm-fullscreen__bg-wrap">
				<span class="nav-hm-fullscreen__bg" style="background-image:url('./img/bg-hm-2.jpg')"></span>
			</div>
			<div class="nav-hm-fullscreen__cont">
				<div class="nav-hm-fullscreen__ico">
					<img src="./img/i-hm-menu_2.png" alt="">
				</div>
				<div class="nav-hm-fullscreen__name"><span>Нейропсихо- <br> физиология</span></div>
			</div>
		</div>
		<div class="nav-hm-fullscreen__item uk-flex uk-flex-column uk-flex-space-between">
			<a href="#" class="nav-hm-fullscreen__link"></a>
			<div class="nav-hm-fullscreen__bg-wrap">
				<span class="nav-hm-fullscreen__bg" style="background-image:url('./img/bg-hm-3.jpg')"></span>
			</div>
			<div class="nav-hm-fullscreen__cont">
				<div class="nav-hm-fullscreen__ico">
					<img src="./img/i-hm-menu_3.png" alt="">
				</div>
				<div class="nav-hm-fullscreen__name"><span>Спортивное тестирование</span></div>
			</div>
		</div>
		<div class="nav-hm-fullscreen__item uk-flex uk-flex-column uk-flex-space-between">
			<a href="#" class="nav-hm-fullscreen__link"></a>
			<div class="nav-hm-fullscreen__bg-wrap">
				<span class="nav-hm-fullscreen__bg" style="background-image:url('./img/bg-hm-4.jpg')"></span>
			</div>
			<div class="nav-hm-fullscreen__cont">
				<div class="nav-hm-fullscreen__ico">
					<img src="./img/i-hm-menu_4.png" alt="">
				</div>
				<div class="nav-hm-fullscreen__name"><span>Тренировочное оборудование</span></div>
			</div>
		</div>
		<div class="nav-hm-fullscreen__item uk-flex uk-flex-column uk-flex-space-between">
			<a href="#" class="nav-hm-fullscreen__link"></a>
			<div class="nav-hm-fullscreen__bg-wrap">
				<span class="nav-hm-fullscreen__bg" style="background-image:url('./img/bg-hm-5.jpg')"></span>
			</div>
			<div class="nav-hm-fullscreen__cont">
				<div class="nav-hm-fullscreen__ico">
					<img src="./img/i-hm-menu_5.png" alt="">
				</div>
				<div class="nav-hm-fullscreen__name"><span>Реабилитация</span></div>
			</div>
		</div>
	</div>
</div>