<footer class="footer">
	<div class="footer__top">
		<div class="b-container-content">
			<p>
				<a href="#"><img src="./img/logo.png" alt=""></a>
			</p>
			<ul class="footer-nav">
				<li class="footer-nav__item">
					<a href="#" class="footer-nav__link">Каталог</a>
				</li>
				<li class="footer-nav__item">
					<a href="#" class="footer-nav__link">Виды спорта</a>
				</li>
				<li class="footer-nav__item">
					<a href="#" class="footer-nav__link">О нас</a>
				</li>
				<li class="footer-nav__item">
					<a href="#" class="footer-nav__link">Статьи</a>
				</li>
				<li class="footer-nav__item">
					<a href="#" class="footer-nav__link">Видеоматериалы</a>
				</li>
				<li class="footer-nav__item">
					<a href="#" class="footer-nav__link">Контакты</a>
				</li>
			</ul>
		</div>
		<div class="footer-sector">
			<div class="b-container-content">
				<a href="#" class="footer-sector__item">Нейропсихофизиология</a>
				<a href="#" class="footer-sector__item">Тренировочные лаборатории</a>
				<a href="#" class="footer-sector__item">Спортивное тестирование</a>
				<a href="#" class="footer-sector__item">Тренировочное оборудование</a>
				<a href="#" class="footer-sector__item">Реабилитация</a>
			</div>
		</div>
		<div class="uk-margin">
			<p>Общество с ограниченной ответственностью “РосСпортИмпорт"</p>
			
			<p>198206, Г Санкт-Петербург <br>
				ул. Пионерстроя,14 ; корпус 2;  кв.84</p>
		</div>
	
	<div class=" footer__phone"><i class="ico ico_phone"></i><span>+7 (343) 345-56-67</span></div>
		<div class="footer__btn">
			<a href="javascript:void(0);" class="uk-button">НАПИШИТЕ НАМ</a>
		</div>
		
		<div class="social">
			<div class="social__txt">Мы в социальных сетях:</div>
			<a href="#" class="social__link social__link_fb"></a>
			<a href="#" class="social__link social__link_od"></a>
			<a href="#" class="social__link social__link_vk"></a>
			<a href="#" class="social__link social__link_gp"></a>
			<a href="#" class="social__link social__link_tw"></a>
			<a href="#" class="social__link social__link_ma"></a>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="b-container-content">
			(С) Все права защищены,2015
		</div>
	</div>
</footer>


	//= ../template/modal.html