<header class="header">
	<div class="header__top">
		<div class="b-container-content">
			<div class="uk-clearfix">
				<nav class="nav-main uk-float-left">
					<ul class="nav-main__list">
						<li class="nav-main__item active">
							<a href="#" class="nav-main__link">Главная</a>
						</li>
						<li class="nav-main__item">
							<a href="#" class="nav-main__link">Каталог</a>
						</li>
						<li class="nav-main__item">
							<a href="#" class="nav-main__link">Виды спорта</a>
						</li>
						<li class="nav-main__item">
							<a href="#" class="nav-main__link">О нас</a>
						</li>
						<li class="nav-main__item">
							<a href="#" class="nav-main__link">Статьи</a>
						</li>
						<li class="nav-main__item">
							<a href="#" class="nav-main__link">Видеоматериалы</a>
						</li>
						<li class="nav-main__item">
							<a href="#" class="nav-main__link">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="header__top-right uk-float-right">
					<div class="header__reg-auto">
						<a href="#">Регистрация</a> /
						<a href="#">Войти</a>
					</div>
					<div class="header__cart-info">
						<a href="#">В корзине (30)</a> /
						<a href="#">Избранное (10)</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="b-container-content">
			<div class="uk-flex uk-flex-middle uk-flex-space-between uk-flex-wrap">
				<div class="">
					<a href="./" class="logo"><img src="./img/logo.png" alt=""></a>
				</div>
				<div class="">
					<div class="lang">
						<span class="lang__txt">Выберите язык:</span>
						<ul class="lang__list">
							<li class="active">
								<a href="javascript:void(0);">EN</a>
							</li>
							<li>
								<a href="javascript:void(0);">RU</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="uk-flex uk-flex-middle uk-flex-space-between uk-flex-wrap">
				<div class="search uk-form">
					<form action="">
						<input type="text" placeholder="Поиск по сайту">
						<div data-uk-dropdown>

    <!-- This is the element toggling the dropdown -->
    <div>dfdf</div>

    <!-- This is the dropdown -->
    <div class="uk-dropdown">.dfdfdfd.</div>

</div>
						<button class="uk-button">Найти</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</header>