<div class="keiser" style="background-image:url('./img/bg-langing-1.jpg')">
	<div class="b-container-content">
		<div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-medium-1-1">
			<div class="">
				<div class="keiser__left">
					<p><img src="./img/logokeiser.jpg" alt=""></p>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quas, minima. Voluptatum veniam rerum, repellendus eveniet sint officiis necessitatibus numquam esse! Quam facere nostrum, quae et. Numquam itaque nisi voluptas.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quas, minima. Voluptatum veniam rerum, repellendus eveniet sint officiis necessitatibus numquam esse! Quam facere nostrum, quae et. Numquam itaque nisi voluptas.</p>
					<p>
						<a href="#" class="uk-button">ПОДРОБНЕЕ О ТОВАРЕ</a>
					</p>
				</div>
			</div>
			<div class=""></div>
		</div>
	</div>
</div>
<div class="landing-2">
	<div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-medium-1-1 uk-grid-collapse">
		<div class="landing-2__col landing-2__col_left uk-grid uk-grid-width-medium-1-2 uk-grid-width-small-1-1 uk-grid-collapse">
			<div class="">
				<img src="../img/hm-logo-1.png" alt="">
				<div class="landing-2__title">PASSENSE</div>
				<h3>Как это работает?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, quis, deleniti. Omnis placeat accusamus blanditiis, quis porro nemo aspernatur itaque beatae. Non, suscipit earum dolore modi deleniti saepe neque consequatur?</p>
			</div>
			<div class=""></div>
		</div>
		<div class="landing-2__col landing-2__col_right uk-grid uk-grid-width-medium-1-2 uk-grid-width-small-1-1 uk-grid-collapse">
			<div class=""></div>
			<div class="">
				<img src="../img/hm-logo-right.png" alt="">
				<h3>Как это работает?</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, quis, deleniti. Omnis placeat accusamus blanditiis, quis porro nemo aspernatur itaque beatae. Non, suscipit earum dolore modi deleniti saepe neque consequatur?</p>
			</div>
		</div>
	</div>
</div>
<div class="landing-device">
	<div class="b-container-content">
		<div class="uk-flex uk-flex-space-between">
			<div class="landing-device__left  ">
				<div class="landing-device__txt">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus eaque ullam tempora excepturi, fugit nam, fugiat, eligendi cupiditate adipisci non similique! Recusandae repudiandae rem nihil obcaecati, cupiditate libero vitae ullam?</p>
					<p>Aliquid consectetur, minus vitae velit odit quod eligendi ratione similique minima animi molestiae, facilis suscipit, omnis atque porro. Voluptas perferendis, debitis natus repellat reiciendis laboriosam nisi similique vel assumenda illum!</p>
					<p>Beatae iusto facere, praesentium pariatur placeat alias, cum ipsum qui laborum a, voluptate quas inventore maxime? Asperiores, reiciendis quia natus amet, a minima, dolorem temporibus, adipisci ad cupiditate at iure?</p>
					<p class="uk-margin">
						<a href="#" class="uk-button">ПОДРОБНЕЕ О ТОВАРЕ</a>
					</p>
				</div>
				<div class="landing-device__img">
					
				</div>
			</div>
			<div class="landing-device__right">
				<img src="../img/device-right.png" alt="">
			</div>
		</div>
	</div>
</div>