<div class="keiser" style="background-image:url('./img/bg-langing-1.jpg')">
	<div class="b-container-content">
		<div class="uk-grid uk-grid-width-large-1-2 uk-grid-width-medium-1-1">
			<div class="">
				<div class="keiser__left">
					<p><img src="./img/logokeiser.jpg" alt=""></p>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quas, minima. Voluptatum veniam rerum, repellendus eveniet sint officiis necessitatibus numquam esse! Quam facere nostrum, quae et. Numquam itaque nisi voluptas.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, quas, minima. Voluptatum veniam rerum, repellendus eveniet sint officiis necessitatibus numquam esse! Quam facere nostrum, quae et. Numquam itaque nisi voluptas.</p>
					<p>
						<a href="#" class="uk-button">ПОДРОБНЕЕ О ТОВАРЕ</a>
					</p>
				</div>
			</div>
			<div class=""></div>
		</div>
	</div>
</div>