<div class="liked-filter">
	<div class="liked-group-list uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
		<div class="liked-group-list__item">
			<div class="liked-group uk-flex uk-flex-column uk-flex-space-between active">
				<div class="liked-group__top"></div>
				<div class="liked-group__center">
					<div class="liked-group__num">01</div>
				</div>
				<div class="liked-group__bottom">
					<a href="javascript:void(0);" class="liked-group__link">Назвать группу</a>
					<a href="javascript:void(0);" class="liked-group__link">Удалить группу</a>
				</div>
			</div>
		</div>
		<div class="liked-group-list__item">
			<div class="liked-group uk-flex uk-flex-column uk-flex-space-between">
				<div class="liked-group__top"></div>
				<div class="liked-group__center">
					<div class="liked-group__num">02</div>
				</div>
				<div class="liked-group__bottom">
					<a href="javascript:void(0);" class="liked-group__link">Назвать группу</a>
					<a href="javascript:void(0);" class="liked-group__link">Удалить группу</a>
				</div>
			</div>
		</div>
		<div class="liked-group-list__item">
			<div class="liked-group uk-flex uk-flex-column uk-flex-space-between">
				<div class="liked-group__top"></div>
				<div class="liked-group__center">
					<div class="liked-group__name">Super Gum</div>
				</div>
				<div class="liked-group__bottom">
					<a href="javascript:void(0);" class="liked-group__link">Переименовать группу</a>
					<a href="javascript:void(0);" class="liked-group__link">Удалить группу</a>
				</div>
			</div>
		</div>
		<div class="liked-group-list__item">
			<div class="liked-group liked-group_create uk-flex uk-flex-column uk-flex-space-between">
				<div class="liked-group__top"></div>
				<div class="liked-group__center">
					<div class="liked-group__num">+</div>
					<div class="liked-group__center-txt">Создать новую группу избранного</div>
				</div>
				<div class="liked-group__bottom"></div>
			</div>
		</div>
	</div>
	
	<form action="">
		<div class="uk-form liked-filter">
			<div class="uk-form-row">
				<label for="liked-filter-check-1" class="check uk-margin-right">
					<input type="checkbox" id="liked-filter-check-1">
					<span>Показывать всё избранное</span>
				</label>
				<label for="liked-filter-check-2" class="check uk-margin-right">
					<input type="checkbox" id="liked-filter-check-2">
					<span>Показывать несортированное</span>
				</label>
			</div>
		</div>
	</form>
</div>