<div id="modal-feedback" class="uk-modal modal">
	<form action="" class="uk-form form">
		<div class="uk-modal-dialog">

			<a class="uk-modal-close uk-close"></a>
			<div class="modal-title">Напишите нам</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="ФИО" type="text">
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="Контактный телефон" type="text">
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="E-mail" type="text">
			</div>
			<div class="uk-form-row">
				<textarea name="" id="" cols="30" rows="5" class="uk-width-1-1" placeholder="Ваше сообщение"></textarea>
			</div>
			<div class="uk-modal-footer uk-text-center">
				<button type="submit" class="uk-button">Отправить сообщение</button>
			</div>

		</div>
	</form>
</div>




<div id="modal-reg" class="uk-modal modal">
	<form action="" class="uk-form form">
		<div class="uk-modal-dialog">

			<a class="uk-modal-close uk-close"></a>
			<div class="modal-title">Регистрация</div>
			<div class="uk-margin uk-text-center">
				<div>Зарегестрироваться через соц.сеть</div>
				<div class="social social_mini">
					<a href="#" class="social__link social__link_fb"></a>
					<a href="#" class="social__link social__link_od"></a>
					<a href="#" class="social__link social__link_vk"></a>
					<a href="#" class="social__link social__link_gp"></a>
					<a href="#" class="social__link social__link_tw"></a>
					<a href="#" class="social__link social__link_ma"></a>
				</div>
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="ФИО" type="text">
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="E-mail" type="text">
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="Придумайте пароль" type="password">
			</div>
			<div class="uk-modal-footer uk-text-center">
				<button type="submit" class="uk-button">Зарегистрироваться</button>
			</div>

		</div>
	</form>
</div>




<div id="modal-autoriz" class="uk-modal modal">
	<form action="" class="uk-form form">
		<div class="uk-modal-dialog">

			<a class="uk-modal-close uk-close"></a>
			<div class="modal-title">Войти</div>
			<div class="uk-margin uk-text-center">
				<div>Войти через соц.сеть</div>
				<div class="social social_mini">
					<a href="#" class="social__link social__link_fb"></a>
					<a href="#" class="social__link social__link_od"></a>
					<a href="#" class="social__link social__link_vk"></a>
					<a href="#" class="social__link social__link_gp"></a>
					<a href="#" class="social__link social__link_tw"></a>
					<a href="#" class="social__link social__link_ma"></a>
				</div>
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="E-mail" type="text">
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="Пароль" type="password">
			</div>
			<div class="uk-modal-footer uk-text-center">
				<button type="submit" class="uk-button">Войти</button>
			</div>

		</div>
	</form>
</div>




<div id="modal-thanks" class="uk-modal modal">
	
		<div class="uk-modal-dialog">

			<a class="uk-modal-close uk-close"></a>
			<div class="modal-title">Спасибо</div>
			<div class="uk-margin uk-text-center">
				Вы успешно зарегистрированы! Письмо с ссылкой активации отправлено на указанный E-mail
				
			</div>
			
			
			<div class="uk-modal-footer uk-text-center">
				<button type="submit" class="uk-button uk-modal-close">Закрыть окно</button>
			</div>

		</div>
	
</div>