<div id="modal-feedback" class="uk-modal modal">
	<form action="" class="uk-form form">
		<div class="uk-modal-dialog">

			<a class="uk-modal-close uk-close"></a>
			<div class="modal-title">Напишите нам</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="ФИО" type="text">
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="Контактный телефон" type="text">
			</div>
			<div class="uk-form-row">
				<input class="uk-width-1-1" placeholder="E-mail" type="text">
			</div>
			<div class="uk-form-row">
				<textarea name="" id="" cols="30" rows="5" class="uk-width-1-1" placeholder="Ваше сообщение"></textarea>
			</div>
			<div class="uk-modal-footer uk-text-center">
				<button type="submit" class="uk-button">Отправить сообщение</button>
			</div>

		</div>
	</form>
</div>