<div class="slider-logo">
	<div class="slider-logo__wrap uk-slidenav-position" data-uk-slider="{center:true}">

		<div class="slider-logo__container uk-slider-container">
			<ul class="uk-slider uk-grid-small">
				<li class="slider-logo__item"><img src="./img/slider-logo.png" alt=""></li>
				<li class="slider-logo__item"><img src="./img/slider-logo.png" alt=""></li>
				<li class="slider-logo__item"><img src="./img/slider-logo.png" alt=""></li>
				<li class="slider-logo__item"><img src="./img/slider-logo.png" alt=""></li>
				<li class="slider-logo__item"><img src="./img/slider-logo.png" alt=""></li>

			</ul>
		</div>

		<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
		<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>

	</div>
</div>