<div class="slider-last-position">
	<div class="slider-last-position__title title">Последние добавленные позиции</div>
	<div data-uk-slider="">

		<div class="uk-slider-container wid">
			<ul class="uk-slider uk-grid">
				<li>
					<div class="position-item">
						<a href="#" class="position-item__link"></a>
						<div class="position-item__img">
							<img src="http://lorempixel.com/232/232/sports/1/" alt="">
						</div>
						<div class="position-item__code">код: 002501</div>
						<div class="position-item__name">Leg Press Air 250 или если название в две строки</div>
						<div class="position-item__price">
							235 900 <i class="uk-icon-rouble"></i>
						</div>
						<a href="javascript:void(0);" class="uk-button uk-button-primary btn btn_dark uk-width-1-1">Добавить в корзину</a>
					</div>
				</li>
				<li>
					<div class="position-item">
						<a href="#" class="position-item__link"></a>
						<div class="position-item__img">
							<img src="http://lorempixel.com/232/232/sports/2/" alt="">
						</div>
						<div class="position-item__code">код: 002501</div>
						<div class="position-item__name">Leg Press Air 250 или если название в две строки</div>
						<div class="position-item__price">
							235 900 <i class="uk-icon-rouble"></i>
						</div>
						<a href="javascript:void(0);" class="uk-button uk-button-primary btn btn_dark uk-width-1-1">Добавить в корзину</a>
					</div>
				</li>
				<li>
					<div class="position-item">
						<a href="#" class="position-item__link"></a>
						<div class="position-item__img">
							<img src="http://lorempixel.com/232/232/sports/3/" alt="">
						</div>
						<div class="position-item__code">код: 002501</div>
						<div class="position-item__name">Leg Press Air 250 или если название в две строки</div>
						<div class="position-item__price">
							235 900 <i class="uk-icon-rouble"></i>
						</div>
						<a href="javascript:void(0);" class="uk-button uk-button-primary btn btn_dark uk-width-1-1">Добавить в корзину</a>
					</div>
				</li>
				<li>
					<div class="position-item">
						<a href="#" class="position-item__link"></a>
						<div class="position-item__img">
							<img src="http://lorempixel.com/232/232/sports/4/" alt="">
						</div>
						<div class="position-item__code">код: 002501</div>
						<div class="position-item__name">Leg Press Air 250 или если название в две строки</div>
						<div class="position-item__price">
							235 900 <i class="uk-icon-rouble"></i>
						</div>
						<a href="javascript:void(0);" class="uk-button uk-button-primary btn btn_dark uk-width-1-1">Добавить в корзину</a>
					</div>
				</li>
				<li>
					<div class="position-item">
						<a href="#" class="position-item__link"></a>
						<div class="position-item__img">
							<img src="http://lorempixel.com/232/232/sports/5/" alt="">
						</div>
						<div class="position-item__code">код: 002501</div>
						<div class="position-item__name">Leg Press Air 250 или если название в две строки</div>
						<div class="position-item__price">
							235 900 <i class="uk-icon-rouble"></i>
						</div>
						<a href="javascript:void(0);" class="uk-button uk-button-primary btn btn_dark uk-width-1-1">Добавить в корзину</a>
					</div>
				</li>
			</ul>
			
			<div class="slider-last-position__nav">
				<div class="slider-last-position__nav-wid">
					<a href="javascritp:void(0);" class="slider-last-position__nav-prev" data-uk-slider-item="previous">
						<i class="uk-icon uk-icon-angle-double-left"></i>
					</a>
					<a href="javascritp:void(0);" class="slider-last-position__nav-next" data-uk-slider-item="next">
						<i class="uk-icon uk-icon-angle-double-right"></i>
					</a>
				</div>
			</div>
		</div>
		

	</div>
</div>