.cabinet-form {
	.inblock(top);
	margin-bottom: 50px;
	&_pr {
		
		
	}
	.uk-form-row {
		position: relative;
	}
	.hint {
		display: inline-block;
			width: 140px;
			font-style: italic;
			.font1_l;
			margin: 5px 0;
		}
	input,
	textarea {
		width: 460px;
	}
	textarea {
		height: 110px;
	}
	&__wid {
		max-width: 460px;
	}
	
	
}


.table-accord {
	.uk-accordion-title.uk-active {
		td {
			background: @col-primary;
			color: #fff !important;
			& > *{
				color: #fff !important;
			}
		}
	}
	.uk-accordion-title, .uk-accordion-content {
		padding: 0 !important;
		margin: 0 !important;
		background: none !important;
		font-size: 1rem;
		line-height: normal;
	}
	
	table {
		border: none;
		width: 100%;
	}
}