.count {
	min-width: 100px;
	input {
		
		text-align: center;
		color: @col-primary;
		.font1;
		font-size: 18px;
		line-height: 20px;
		height: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: #fff !important;
		width: 50px;
		.inblock(middle);
	}
	&__dec, &__inc {
		font-size: 20px;
		color: #c6c6c6;
		cursor: pointer;
		.inblock(middle);
		&:hover {
			color: @col-primary;
		}
	}
}